<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-antonio-micomponente">
  <template>
    <style>
      :host {
        display: inline-block;
        background-color: red; <!-- esto es para que veamos lo que ocupa el comp -->
      }
    </style>
    <div><span>Mi primer componente Polymer</span></div>
    <div><span>[[saludo]]</span></div>
    <div><span>[[contador]]</span></div>
    <template is="dom-repeat" items="[[listado]]">
      <!-- Estamos incoando a ese componente que esta en el import de arriba -->
      <div>
        <h2>{{item.titulo}}</h2>
        <h3>{{item.texto}}</h3>
      </div>
    </template>

  </template>
  <script>
    Polymer({
      is:'my-antonio-micomponente',
      properties: {
        saludo: String,
        contador: Number,
        listado: Array
      },
      listeners:{
        'tap':'incrementar'
      },
      incrementar: function(){
        this.contador = this.contador + 1;
      },
    })
  </script>
</dom-module>
