<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-mongo">
  <template>
    <style>
      :host {
        display: inline-block;
        background-color: blue; <!-- esto es para que veamos lo que ocupa el comp -->
      }
    </style>
    <div class="card">
      <div>
        <h1>Creacion nuevo Post</h1>
        <div class="group">
          <input type="text" value="{{titulo::input}}" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Título</label>
        </div>
        <div class="group">
          <input type="text" value="{{texto::input}}" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Texto</label>
        </div>
        <div><button type="button" name="button" on-click="savePost">Guardar Post</button></div>
      </div>
      <div>
        <h1>Listado de Posts</h1>
        <button id="verPost" type="button" name="button" on-tap="listPosts">Ver Posts</button>
        <table hidden$={{disable}}>
          <thead>
            <tr>
              <th>ID</th>
              <th>Titulo</th>
              <th>Texto</th>
              <th>Autor</th>
            </tr>
          </thead>
          <tbody id="tablePost">
              <template is="dom-repeat" items="{{posts}}">
                <tr>
                  <th>[[item._id.$oid]]</th>
                  <th>[[item.titulo]]</th>
                  <th>[[item.texto]]</th>
                  <th>[[item.autor.nombre]]</th>
                </tr>
              </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>
  <script>
  const URL_BASE = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts";
  const TOKEN = "?apiKey=PG6gznJSojYE4xrF0sx6tiyajSYiHz15";
  const BARRA = "/";
  Polymer({
    is:'my-mongo',
    properties: {
      posts: {
        type: Array,
        notify: true
      },
      titulo: String,
      texto: String,
      disable: {
          type: Boolean,
          value: true
      }
    },
    listeners:{
    },
    listPosts: function(e) {
      var request = new XMLHttpRequest();
      request.open("GET", URL_BASE+TOKEN, false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send();
      this.posts=JSON.parse(request.responseText);
      this.disable=false;
    },

    savePost: function () {
      var request = new XMLHttpRequest();
      request.open("POST", URL_BASE+TOKEN, false);
      request.setRequestHeader("Content-Type", "application/json");
      var registro = JSON.stringify({"titulo": this.titulo, "texto": this.texto});
      request.send(registro);
    },

  })
  </script>
</dom-module>
